
  .counter .title {
      color: #e66b6b;
      font-size: 16px;
      font-size: 1.6rem;
      text-transform: uppercase;
      display: block;
      margin-bottom: 15px;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
  }
  .counter .sq {
      color: #e66b6b;
      display: inline-block;
      text-align: center;
  }
  .counter .sq .bord {
      border-radius: 15%;
      border: 2px solid #e66b6b;
      padding: 15px 1px;
      margin-right: auto;
      text-indent: 0px;
      font-family: 'Helvetica';
      font-size: 20px;
      margin-bottom: 5px;
      width: 54px;
      text-align: center;
  }
  .counter .sq span {
      clear: both;
      display: block;
      font-size: 10px;
      font-family: "Helvetica";
  }
  .well {
    text-align: center;
    max-width: 400px;
  }